*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: #333;
}
.container{
    background: #222;
    width: 80vw;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 5fr 3fr;
}
.img{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}
.img img,canvas{
    max-width: 45vw;
    max-height: 60vh;
}
.upload input{
    display: none;
}
.upload label{
    color: #fff;
    padding: 8px 20px;
    border: 2px #fff dashed;
    cursor: pointer;
}
.filters ul,
.filters ul li{
    display: flex;
    flex-direction: column;
    gap: 25px;
    direction: rtl;
}
.filters ul li label{
    color: #fff;
}
.filters ul li:last-child{
    flex-direction: row;
    justify-content: space-around;
}
.filters ul li a,span{
    color: #fff;
    padding: 10px 20px;
    background: #060;
    cursor: pointer;
}

@media  screen and (max-width:650px){
    .container{
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .img img,canvas{
        max-width: 80vw;
    }
}


















/* CSS */
/* .button-3 ,span {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
span:focus:not(:focus-visible):not(.focus-visible),
.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}
span:hover,
.button-3:hover {
  background-color: #2c974b;
}
span:focus,
.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}
span:disabled,
.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}
span:active,
.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
} */